
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tr>
                    <td colspan="11" style="text-align:right">Appendix II</td>
                </tr>
                <tr>
                    <td colspan="11" style="text-align:center;"><strong>ORGANISATION NAME:</strong></td>
                </tr>
                <tr>
                    <td colspan="11" style="text-align:center"><strong>PANEL NO</strong>. : Auto Generated No./GC/@DateTime.Now.Year</td>
                </tr>
                <tr>
                    <td colspan="11" style="text-align:center;"><strong>NAME OF THE POST :</strong></td>
                </tr>
            </table>
            <table class="table table-striped table-bordered">                
                <thead>
                    <tr>
                        <th>Ser No</th>
                        <th>Service No., Rank & Name</th>
                        <th>Date of Birth</th>
                        <th>Trade</th>
                        <th>Corps</th>
                        <th>Category<br /> SC/ST/OBC/UR</th>
                        <th>Qualification</th>
                        <th>Experience</th>
                        <th>Address</th>
                        <th>Contact Details & Email</th>
                        <th>RSB/ZSB</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

