@model IEnumerable<EAMS.View_Models.ESMJcoIndexVM>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using NonFactors.Mvc.Grid

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Companys.CompanyName).Titled("Company");
        columns.Add(model => model.PostName).Titled("Post Name");

        //columns.Add(model => model.ServiceNo).Titled("Service No");
        columns.Add(model => model.Ranks.RankName).Titled("Rank");
        columns.Add(model => model.Name).Titled("Name");

        columns.Add(model => model.DateofBirth).Titled("Date of Birth");
        columns.Add(model => model.Corps).Titled("Corps");
        columns.Add(model => model.Trade).Titled("Trade");
        columns.Add(model => model.Category).Titled("Category");

        columns.Add(model => model.Qualifications.Qualification).Titled("Qualification");
        columns.Add(model => model.WorkExp).Titled("Work Exp");
        columns.Add(model => model.Address).Titled("Address");
        columns.Add(model => model.ContactNo).Titled("Contact");
        columns.Add(model => model.EmailId).Titled("EmailID");


        columns.Add()
        .Titled("Edit")
        .RenderedAs(o => Html.ActionLink("Edit", "Edit", new { id = o.EsmId }));
        columns.Add()
        .Titled("Delete")
        .RenderedAs(o => Html.ActionLink("Delete", "Delete", new { id = o.EsmId }));
    })
    .UsingFilterMode(GridFilterMode.Excel)
    .Empty("No data found")
    .Id("my-ajax-grid")
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 2;
        pager.RowsPerPage = 10;
    })
    .Filterable()
    .Sortable()
)
