
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <h3 style="text-align:center">NO. OF ESM OFFICERS SPONSORED</h3>
            <h3 style="text-align:center">(Monthly/Quarterly/Yearly Data)</h3>
            <br />
            <br />
            <br />
            <p style="text-align:center">From :____________________________	To: ______________________________</p>
            <br />
            <div class="panel-body">
                <table class="table table-bordered" style="border:thin">
                    <thead>
                        <tr>
                            <th style="text-align:center">Ser No</th>
                            <th style="text-align:center">Month</th>
                            <th style="text-align:center">No. of ESM Sponsored</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        <tr>
                            <td>1</td>
                            <td>Jan</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Feb</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mar</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Apr</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>May</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Jun</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Jul</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Aug</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Sep</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Oct</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Nov</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Dec</td>
                            <td></td>
                        </tr>
                        <tr style="text-align:left">
                            <td colspan="2"><strong>Total</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>