@{
    ViewBag.Title = "Home";
}
<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>Welcome to EAMS Package</h4>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index-2.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/">Pages</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-md-12 col-xl-4">
                <!-- table card start -->
                <div class="card table-card">
                    <div class="">
                        <div class="row-table">
                            <div class="col-sm-6 card-block-big br">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="icofont icofont-bag-alt text-success"></i>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>10k</h5>
                                        <span>Vacancies Posted</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 card-block-big">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="icofont icofont-hand-up text-danger"></i>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>8k</h5>
                                        <span>Successful Joinings</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row-table">
                            <div class="col-sm-6 card-block-big br">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="icofont icofont-files text-info"></i>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>9k+</h5>
                                        <span>Candidates Sponsored </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 card-block-big">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="icofont icofont-page text-warning"></i>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>15k+</h5>
                                        <span>Applications Processed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table card end -->
            </div>
            <div class="col-md-12 col-xl-4">
                <!-- table card start -->
                <div class="card table-card">
                    <div class="">
                        <div class="row-table">
                            <div class="col-sm-6 card-block-big br">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div id="barchart" style="height:40px;width:40px;"></div>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>4000+</h5>
                                        <span>Officers Sponsored</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 card-block-big">
                                <div class="row ">
                                    <div class="col-sm-4">
                                        <i class="icofont icofont-calendar text-primary"></i>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>100</h5>
                                        <span>Sponsored This Month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row-table">
                            <div class="col-sm-6 card-block-big br">
                                <div class="row ">
                                    <div class="col-sm-4">
                                        <div id="barchart2" style="height:40px;width:40px;"></div>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>5000+</h5>
                                        <span>JCO/ORs Sponsored</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 card-block-big">
                                <div class="row ">
                                    <div class="col-sm-4">
                                        <i class="icofont icofont-people text-primary"></i>
                                    </div>
                                    <div class="col-sm-8 text-center">
                                        <h5>60</h5>
                                        <span>Joined This Month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table card end -->
            </div>
            <div class="col-md-12 col-xl-4">
                <!-- widget primary card start -->
                <div class="card table-card widget-primary-card">
                    <div class="">
                        <div class="row-table">
                            <div class="col-sm-3 card-block-big">
                                <i class="icofont icofont-list"></i>
                            </div>
                            <div class="col-sm-9">
                                <h4>88</h4>
                                <h6>Vacancies Posted This Month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- widget primary card end -->
                <!-- widget-success-card start -->
                <div class="card table-card widget-success-card">
                    <div class="">
                        <div class="row-table">
                            <div class="col-sm-3 card-block-big">
                                <i class="icofont icofont-tick-mark"></i>
                            </div>
                            <div class="col-sm-9">
                                <h4>170</h4>
                                <h6>Applications Received This Month</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- widget-success-card end -->
          
            </div>
        </div>
    </div>
</div>

